$background-primary: rgb(221, 221, 221);
$background-secondary: rgb(255, 255, 255);
$background-tertiairy: rgb(0, 0, 88);
$background-linear: linear-gradient(rgb(0, 0, 88), rgb(0, 0, 155));

$text-primary: rgb(240, 240, 240);
$text-secondary: rgb(0, 0, 49);

$box-shadow-right: 1px 0px 7px 1px rgba(33, 33, 33,0.50);
$box-shadow-left: -5px 0px 9px 1px rgba(33, 33, 33,0.50);