@import 'styles/variables';

.app{
  display: grid;
  place-items: center;
  background: $background-primary;
  height: 100vh;
  width: 100vw;

  .app--container{
    width: 100%;
    min-width: 600px;
    max-width: 1000px;
    background: $background-secondary;
    height: 100%;
    box-shadow: $box-shadow-right;
    border-right: $box-shadow-left;
  }
}